/*-----------------------------------------------------------------------------------

    Template Name: Minikini - Minimal Portfolio Template
    Template URI: https://devitems.com/html/minikini-preview
    Description: This is minikini Minimal Portfolio Template
    Author: HasTech
    Author URI: https://devitems.com
	Version: 1.0.1

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Template default css (css/shortcode/default.css)
    2. Header css (css/shortcode/header.css)
    3. Slider css (css/shortcode/slider.css)
    4. Blog css (css/shortcode/blog.css)
    5. Portfolio css (css/shortcode/portfolio.css)
    6. service css (css/shortcode/service.css)
    7. Testumonial css (css/shortcode/testumonial.css)
    8. Breadcrumb css (css/shortcode/breadcrumb.css)
    9. Footer css (css/shortcode/footer.css)
    10. About area
    11. Team area
    12. Skill area
    13. Pricing table
    14. Contact
    15. Scrollup
    
    

-----------------------------------------------------------------------------------*/



.bg-img {
    background: rgba(0, 0, 0, 0) url("img/bg-2.jpg") repeat scroll center center / cover;
    height: 100vh;
}
.slider > img {
    width: 100%;
}

/*----- 10. About area  ------*/

.about-img > img {
    width: 100%;
}
.about-text > h2 {
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
}
.about-text > h2:before,
.skill-title > h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    background-color: #eeeeee;
}
.about-text > h2 span {
    font-weight: bold;
}
p.peragraph-blod {
    font-weight: bold;
    padding: 30px 0 40px;
    margin-bottom: 0;
}
a.button-style.black{
    border: 1px solid #eeeeee;
    color: #333;
    margin-top: 35px;
}
a.button-style.black:hover {
    background-color: #444;
    border: 1px solid #444;
    color: #fff;
}
.about-text {
    padding-top: 90px;
}
.single-count {
    text-align: center;
}
.count-icon {} .count-icon span {
    font-size: 35px;
}
.count-title {} .count-title h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    margin: 15px 0;
}
.count-title span {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: capitalize;
    color: #fff;
}
.count-icon span {
    color: #fff;
}
. {} . {} . {} .hover-style {
    display: block;
    position: relative;
}
.hover-style::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.hover-style:hover::before {
    opacity: 0.9;
}
.about-minimal {} .about-minimal h2 {} .minimal-img > img {
    width: 100%;
}
.about-minimal {} .about-minimal ul {} .about-minimal ul li {
    border-top: 1px solid #f6f6f6;
    display: block;
    line-height: 1.3em;
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
    position: relative;
}
.about-minimal ul li:last-child {
    border-bottom: 1px solid #eceaeb;
}
.about-minimal ul li::before {
    color: #444;
    content: "";
    font-family: FontAwesome;
    font-size: 13px;
    line-height: 12px;
    margin-left: 0;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.about-minimal a {
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 5px;
    padding: 12px 25px;
    text-transform: uppercase;
}
.about-minimal a:hover {
    background: #464646;
    color: #fff;
    border-color: #464646
}
.single-skill-about {
    text-align: center;
}
.progress-h4 {
    font-size: 22px;
    font-weight: 400;
}
.about-us-text > p {
    color: #666;
}
/*------- 11. Team area  -------------*/

.team-wrapper {
    border: 1px solid #e7e7e7;
}
.team-member {
    position: relative;
}
.team-member > img {
    filter: grayscale(100%);
    width: 100%;
}
.team-member::before {
    background: transparent none repeat scroll 0 0;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    width: 100%;
    z-index: 1;
}
.team-wrapper:hover .team-member::before {
    background: rgba(33, 40, 45, 0.55);
}
.team-info {
    padding: 15px 0;
}
.team-icon {
    border: 0 none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 99;
}
.team-icon {
    padding: 20px 0;
}
.team-icon > a {
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 36px;
    margin: 0 15px;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    width: 40px;
    border-radius: 50%;
}
.team-icon > a:hover {
    background: #fff;
    color: #666
}
.team-wrapper:hover .team-icon > a {
    opacity: 1;
    visibility: visible;
    margin: 0 5px
}
.team-info h3 {
    font-size: 20px;
    text-transform: uppercase;
}
.team-info span {
    color: #666;
    text-transform: uppercase;
}
.team-member > img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
/*----- 12. Skill area ------*/

.skill-title h2 {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.single-skill {
    width: 20%;
    float: left;
    padding: 88px 0;
}
.all-skill {
    overflow: hidden;
}
input.knob {
    background-color: #fff !important;
    border-radius: 50%;
    color: #262626 !important;
    font-size: 26px !important;
    height: 60px !important;
    margin-left: -96px !important;
    margin-top: 35px !important;
    width: 60px !important;
}
.progress-h4 {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -35px;
    text-transform: uppercase;
}

/*----- 13. Pricing table  ------*/

.single-pricing {
    margin: 0 -6px;
    overflow: hidden;
    padding: 6px;
}
.single-pricing-wraper {
    border: 1px solid #ddd;
    padding: 80px 0;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.pricing-top {
    display: block;
    overflow: hidden;
    padding-top: 9px;
}
.pricing-top .label::before,
.pricing-top .label::after {
    border-bottom: 6px solid #707070;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: -4px;
    content: "";
    height: 0;
    position: absolute;
    right: -3px;
    transform: rotate(45deg);
    width: 0;
}
.pricing-top .label::after {
    bottom: -4px;
    left: -3px;
    transform: rotate(-36deg);
}
.pricing-top .label.none-price {
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.pricing-top .label {
    background-color: #383838;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 49px;
    left: -6px;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 113px;
    transform: rotate(-45deg);
    transform-origin: left bottom 0;
    transition: all 0.3s ease 0s;
    width: 237px;
}
.pricing-top p {
    color: #666;
    font-size: 55px;
    font-weight: normal;
}
.pricing-top p span {
    font-size: 20px;
    font-weight: bold;
    padding-right: 4px;
    position: relative;
    top: -21px;
}
.single-pricing:hover .pricing-top .label.none-price {
    opacity: 1;
}
.pricing-tex > ul {
    padding: 35px 0;
}
.pricing-tex li {
    color: #757575;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding-bottom: 17px;
    text-transform: capitalize;
}
.price-btn a {
    background-color: #262626;
    border: 1px solid #262626;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 45px 7px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.single-pricing.price2:hover .single-pricing-wraper,
.single-pricing.active2 .single-pricing-wraper {
    background-color: #f7f7f7;
}
.pricing .price-btn a:hover {
    background-color: #fff;
    border: 1px solid #262626;
    color: #262626;
}
/*----- 14. Contact ------*/

#hastech2 {
    height: 402px;
    width: 100%;
}
h3.main-contact {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-input input {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 45px;
    padding-left: 20px;
}
.text-leave2 textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #666;
    font-family: "Lato", sans-serif;
    height: 150px;
    margin-bottom: 40px;
    padding: 14px 20px;
}
.leave-form input:focus,
.main-input input:focus,
.text-leave textarea:focus,
.text-leave2 textarea:focus {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #f6f6f6;
}
.mfp-wrap {
    z-index: 99999999;
}
.mfp-bg {
    z-index: 9999999;
}

/*............. 15. Scrollup   ................*/

#toTop {
    text-align: center;
    bottom: 35px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 12px;
    z-index: 9999;
}
#toTop i {
    background-color: #464646;
    height: 40px;
    width: 40px;
    color: #fff;
    line-height: 40px;
}
#toTop i:hover {
    background-color: #666;
    color: #fff;
}
.contact-area-bottom {
    margin-top: 50px;
}