
/*----- blog  ------*/

.blog-info {
  margin-top: 17px;
}
.blog-info.blog-pad {
  margin: 0;
  padding: 20px 25px;
}
.blog-meta > span {
  padding-right: 20px;
}

.blog-meta a {
  color: #666666;
  text-transform: capitalize;
   transition: all .3s ease 0s;
}
.blog-meta span {
  color: #666666;
  text-transform: capitalize;
   transition: all .3s ease 0s;
}
.blog-meta a:hover {
  color: #888888;
}

.blog-meta a i {
  color: #464646;
  font-size: 14px;
  padding-right: 10px;
}
.blog-meta i {
  color: #464646;
  font-size: 14px;
  padding-right: 10px;
}
.blog-info h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 15px 0 20px;
  text-transform: uppercase;
}
.blog-info > a {
  border: 1px solid #464646;
  color: #464646;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 14px;
  padding: 8px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.blog-info > a:hover {
  background-color: #464646;
  color: #fff;
}
.blog-img img {
  width: 100%;
}
.page {
  display: inline-block;
  text-align: center;
}
.page li {
  float: left;
  margin-right: 15px;
}
.page li.active a{}

.page a {
  border: 1px solid #c1c1c1;
  display: inline-block;
  height: 40px;
  line-height: 37px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 40px;
}
.page a:hover,.page li.active a{
  background-color: #464646;
    color: #fff;
    border: 1px solid #464646;
}


.single-blog.text-center {
  background-color: #f5f5f5;
}
.blog-text > p {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.blog-text > h3 {
  font-family: "Lato",sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 7px;
    transition: all .3s ease 0s;
}
.blog-text > h3 a{
  color: #999999;
}
.blog-text > h3 a:hover {
  color: #262626;
}
.blog-text > span {
  color: #262626;
  font-size: 14px;
}

.single-blog {
  transition: all .3s ease 0s;
}
.single-blog:hover {
  box-shadow: 0 0 5px 0.10px rgba(0, 0, 0, 0.2);
}

/*----- blog details ------*/
.blog-right-info{
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.blog-right-info h4{
  border-bottom: 1px solid #5b5b5b;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.blog-right-info p{
  font-size: 14px;
  color: #666;
}

.blog-3-column .blog-meta > span {
  padding-right: 15px;
}
.news-allreply {
  display: inline-block;
  float: left;
  text-align: center;
}
blockquote {
  background-color: #f6f6f6;
  border-left: 2px solid #464646;
  color: #666666;
  font-size: 14px;
  line-height: 26px;
  margin: 23px 0;
  padding: 14px 50px;
}

.blog-info > p {
  color: #666;
}
h3.leave-comment-text {
  border-bottom: 1px solid #5b5b5b;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.nes-icon > a i {
  color: #666666;
  font-size: 14px;
  margin-top: 10px;
}

.news-allreply img {
  border-radius: 100%;
  width: 100%;
}
.blog-img-details {
  padding-left: 90px;
}

.blog-title > h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.blog-title > span {
  color: #666666;
  display: block;
  margin-bottom: 7px;
}

.blog-middle-mrg {
  margin: 32px 0 33px 90px;
}

.leave-form input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #c1c1c1;
  color: #666666;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  height: 35px;
  margin-bottom: 30px;
  padding: 0 20px;
}


.leave-form input::-webkit-input-placeholder,.text-leave textarea::-webkit-input-placeholder,.main-input input::-webkit-input-placeholder,.text-leave2 textarea::-webkit-input-placeholder {
    /* Chrome */
    
    color: #666666;
    opacity: 1;
}
.leave-form input::-moz-placeholder,.text-leave textarea::-moz-placeholder,.main-input input::-moz-placeholder,.text-leave2 textarea::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #666666;
    opacity: 1;
}
.leave-form input:focus, .text-leave textarea:focus{
  border: 1px solid #464646;
}


.text-leave textarea {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #c1c1c1;
  color: #666666;
  font-family: "Lato",sans-serif;
  height: 165px;
  margin-bottom: 30px;
  padding: 20px;
    font-size: 14px;
}

button.submit {
  background-color: #464646;
  border: 1px solid #464646;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
    font-family: "Raleway",sans-serif;
}
button.submit:hover {
  background-color: transparent;
  color: #464646;
}


.blog-right-sidebar-top a {
  color: #666666;
  font-size: 14px;
}
.blog-right-sidebar-top a:hover {
  color: #888;
}
.blog-right-sidebar-top li {
  margin-bottom: 12px;
}
.blog-right-sidebar-top li:last-child {
  margin-bottom: 0px;
}
.blog-right-sidebar-bottom li {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 14px;
}
.blog-right-sidebar-bottom li.nn {
  margin-right: 0px;
}

.blog-right-sidebar-bottom a {
  border: 1px solid #c1c1c1;
  color: #666;
  display: inline-block;
  padding: 9px 24px;
    transition: all .4s ease 0s;
}
.blog-right-sidebar-bottom a:hover {
  border: 1px solid #464646;
  background-color: #464646;
    color: #fff;
}

.blog-img > img {
  width: 100%;
}
.blog-search > form {
  position: relative;
}
.blog-search input[type="text"] {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #666666;
  line-height: 28.8px;
  outline: medium none;
  padding: 5px 15px;
  transition: all 0.4s ease 0s;
  width: 100%;
    height: 40px;
    margin: 0;
    position: relative;
}
.blog-search > form > input[type="submit"] {
  background: #5b5b5b none repeat scroll 0 0;
  border: 1px solid #5b5b5b;
  color: #ffffff;
  height: 40px;
  padding-left: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 80px;
}

.blog-search input[type="text"]:focus {
  border-color: #555;
}

.leave-form input::-webkit-input-placeholder {
    /* Chrome */
    color: #666666;
    opacity: 1;
}
.blog-search input::-moz-placeholder {
    /* Firefox 19+ */
    color: #666666;
    opacity: 1;
}


.blog-search button.submit {
  background-color: #464646;
  border: 1px solid #464646;
  color: #fff;
  font-size: 13px;
  height: 40px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}






















































