/* -----------------------------------
Template:  Theme Name

NOTE: This is Footer style file. All footer related style included in this file.

--------------------------------------*/
/*  .footer-bg{background:url(../../img/bg/footer.jpg)}  */


.footer-style ul li {
  display: inline-block
}
.footer-style ul li a {
  background-color: #efefef;
  border-radius: 50%;
  color: #666666;
  display: block;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-right: 15px;
  text-align: center;
  width: 30px;
    transition: all .3s ease 0s;
}
.footer-style ul li a:hover {
  background-color: #666;
  color: #efefef;
}

.footer-style > ul {
  margin: 30px 0;
}
p.adress {
  color: #666;
  font-size: 14px;
  text-transform: capitalize;
}
p.adress i{
  font-size: 15px;
    padding-right: 5px;
}

.footer-style > p {
  font-size: 14px;
  color: #666;
}

.logo.footer-logo > a {
  display: block;
  margin-bottom: 15px;
}
.logo.footer-logo {
  margin-top: 0;
}




/*  footer-2  */





.logo.logo-2 {
  margin-top: 0;
}

.footer-2-text a {
  color: #666;
  font-size: 14px;
}
.footer-2-text a i{
  padding-right: 10px;
    font-size: 15px;
}
.footer-2-text li {
  margin-bottom: 18px;
}

.footer-2-text li:last-child {
  margin-bottom: 0px;
}
.footer-title h3 {
  color: #444;
  font-family: "Lato",sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}
.footer-2-border {
  border-bottom: 1px solid #efefef;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.footer-2-img .col-md-6 img {
  width: 100%;
}
.footer-top-2 > p {
  color: #666;
  font-size: 14px;
  text-transform: capitalize;
}
.footer-top-2 > p span {
  float: right;
}
.footer-top-2 > p span.bold {
  float: inherit;
    color: #333333;
    font-weight: bold;
}

.footer-top-2.footer-top-2-border {
  border-top: 1px solid #efefef;
  margin-top: 14px;
  padding-top: 14px;
}
.footer-2-img.footer-style > ul {
  margin: 50px 0 0;
}
.copyright.text-center > p {
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
}


/*  footer-3  */


.footer-3-text > p {
  color: #333;
}
.footer-style-3-all ul li {
  display: inline-block;
    margin-right: 13px;
    
}
.footer-style-3-all ul li:last-child {
    margin-right: 0px;
    
}
.footer-style-3-all ul li a {
  background-color: #666666;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
    transition: all .3s ease 0s;
}
.footer-style-3-all ul li a:hover {
  background-color: #fff;
  color: #666;
}

.footer-3-text > p {
  color: #333;
  margin: 15px 0 27px;
}

.footer-style-3-middle li {
  display: inline-block;
  margin-right: 50px;
}
.footer-style-3-middle li a{
  color: #666;
    transition: all .3s ease 0s;
}
.footer-style-3-middle li a:hover{
  color: #333;
}
.footer-style-3-middle li a i{
  padding-right: 10px;
}
.footer-style-3-middle li:last-child {
  margin-right: 0px;
}
.logo.footer-logo.no-mrg {
  margin-top: 0;
}
.logo.footer-logo > a {
  text-transform: uppercase;
}






















.footer-border {
  border-top: 1px solid #f6f6f6;
} 
.footer-area {
  position: relative;
}
.footer-info {
  position: relative;
}
.footer-info{}
.footer-info span {
  color: #666;
  font-size: 36px;
  margin-bottom: 30px;
}
.footer-info h5 {
  color: #666;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}
.copyright{}
.copyright p {
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}



.footer-info ul{}
.footer-info ul li {
  line-height: normal;
  padding: 8px 0;
}
.footer-logo {
  margin-bottom: 10px;
}
.social-icon{}
.social-icon a {
  border: 1px solid #464646;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  line-height: 27px;
  margin: 0 5px;
  text-align: center;
  width: 30px;
}
.social-icon a:hover{background:#464646;color:#fff}
.footer-4 .footer-logo {
  display: inline-block;
  float: left;
  margin-bottom: 0;
  margin-top: 3px;
}
.footer-4 .social-icon {
  float: right;
  text-align: center;
}

.footer-4 .footer-logo > p {
  margin-bottom: 0;
}










