/* -----------------------------------
Template:  Theme Name

NOTE: This is Slider style file. All Slider related style included in this file.

--------------------------------------*/
.portfolio img {
  width: 100%;
}
.portfolio {
  margin-bottom: 30px;
  position: relative;
    transition: all .3s ease 0s;
}
.single-title > h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.portfolio-menu{}
.portfolio-menu button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #262626;
  font-weight: normal;
  padding: 0;
  position: relative;
  text-transform: capitalize;
  padding: 10px;
    transition: all .3s ease 0s;
}
.portfolio-menu button.active,.portfolio-menu button:hover {
    background-color: #262626;
    color: #fff;
}
.portfolio-menu.style-2 button.active,.portfolio-menu.style-2 button:hover {
    color: #999999;
    background-color: inherit;
}
.portfolio-left-menu{}
.portfolio-left-menu button:first-child{margin-left:0}
.hover-style > .portfolio-img:before,.hover-style-6 > .portfolio-img:before {
  background: rgba(0, 0, 0, 0.8);
  bottom: 15px;
  content: "";
  left: 15px;
  opacity: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.4s ease-in-out 0s;
}
.hover-style:hover .portfolio-img{opacity: 1;}
.portfolio-title h3, .hover-style-6 .portfolio-title-6.portfolio-title h3 {
  color: #fff;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out 0s;
}
.portfolio-title-6 h3 {
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out 0s;
    font-family: "Lato",sans-serif;
}
.portfolio-title-6 span {
  color: #262626;
  font-size: 16px;
  text-transform: capitalize;
}
.portfolio:hover .portfolio-title{opacity:1}
.portfolio:hover .portfolio-title h3 {
  transform: translateY(0px);
}
.hover-style .img-poppu:hover,.hover-style-6 .img-poppu:hover {
  border: 1px solid #fff;
}
.view-more{}
.view-more a {
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 25px;
  text-transform: uppercase;
}
.view-more a:hover{background:#444;color:#fff;border-color:#444}
.title-style-1 {
  bottom: 0;
  padding: 0 20px;
  top: inherit;
}
.title-style-1 h3 {
  color: #fff;
}
.title-style-1 span {
  color: #fff;
}
.portfolio-img {
  display: block;
  position:relative
}
/* portfolio-style-2 */
.portfolio-style-2{}
.portfolio:hover {
  box-shadow: 0 0 10px .15px rgba(0, 0, 0, 0.2);
}
.portfolio.hover-style-6 {
  box-shadow: 0 0 10px .15px rgba(0, 0, 0, 0.2);
}
.portfolio-style-2 .portfolio-title h3,.portfolio-style-3 .portfolio-title h3 {
  transform: translateY(0px);
}
.portfolio-style-2 .portfolio-title span,.portfolio-style-3 .portfolio-title span {
  transform: translateY(0px);
}
 .hover-style .portfolio-img::before,.hover-style-6 .portfolio-img::before {
  background: #000 none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
}
.hover-style:hover .portfolio-img:before,.hover-style-6:hover .portfolio-img:before {
  opacity: 0.8;
}
.portfolio-view {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
 .hover-style .img-poppu,.hover-style-6 .img-poppu {
  opacity: 0;
}
.portfolio:hover .img-poppu{
    opacity: 1;transform: translateY(0px);
}
.hover-style .img-poppu:before,.hover-style-6 .img-poppu:before, .hover-style .img-poppu:after, .hover-style-6 .img-poppu:after {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 1px;
}


.hover-style .img-poppu:after,.hover-style-6 .img-poppu:after {
  height: 1px;
  width: 50px;
}

.portfolio-title {
  bottom: 30px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all .3s ease 0s;
  z-index: 2;
}
.portfolio:hover .portfolio-title {
  opacity: 1;
}


.hover-style .img-poppu,.hover-style-6 .img-poppu {
  color: #fff;
  display: inline-block;
  height: 50px;
  opacity: 0;
  padding: 30px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(20px);
  width: 50px;
  z-index: 99;
    transition: all .3s ease 0s;
}


.portfolio-section > h2 {
  color: #444444;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}

.portfolio-section > h2:before {
  background: #eeeeee none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}




.portfolio-title-3 > h3 {
  color: #333;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.portfolio-title-3 > span {
  color: #333;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}
.portfolio-title-3 {
  background-color: #fff;
  left: 0;
  padding: 38px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease 0s;
    opacity: 0;
}
.portfolio:hover .portfolio-title-3 {
  bottom: 0;
  top: auto;
    opacity: 1;
}


.portfolio-title-6 {
  padding: 25px 0;
}





/* portfolio-style-3 */
.portfolio-style-3 .portfolio-title {
  bottom: inherit;
  left: 0px;
  opacity: 0;
  padding: 35px 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
}

.portfolio-style-3 .portfolio :hover .portfolio-title{opacity:1;}
.portfolio-style-3 .hover-style > a::before {
  display: none;
}
.portfolio-style-3 .portfolio-title h3 {
  color: #333;
}
.portfolio-style-3 .portfolio-title span {
  color: #262626;
  font-size: 16px;
  text-transform: capitalize;
}

.portfolio-style-7 .portfolio{margin:0}
/* no gutter portfolio-column-4 */

.view-more.text-center.gutt-view {
  display: block;
  float: left;
  width: 100%;
}
.no-gutte .portfolio,.no-gutte .grid-item {
  margin: 0;
  padding: 0;
}


/* portfolio details */
.portfolio-meta{}
.portfolio-meta ul{background: #f8f8f8 none repeat scroll 0 0;
border: 1px solid #e5e5e5;
margin: 0;
padding: 0 20px;}
.portfolio-meta ul li{border-bottom: 1px solid #e5e5e5;
color: #666;
padding: 15px 0;}
.portfolio-meta ul li:last-child {
  border-bottom: 0 none;
}
.portfolio-meta ul > li i {
  color: #444;
  font-size: 16px;
  line-height: normal;
  margin-right: 20px;
}
.portfolio-meta ul li span {
  color: #444;
  font-weight: bold;
  margin-right: 5px;
}
.portfolio-meta ul li{}
.project-desc {
  margin-bottom: 30px;
}
.project-desc h3 {
  border-bottom: 1px solid #e5e5e5;
  color: #444;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 22px;
  margin: 0 0 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.post-share ul {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
  padding: 10px 0;
}
.post-share li {
  float: left;
  margin-right: 18px;
}
.post-share li a {
  display: block;
  font-size: 16px;
}
.portfolio-img > img {
  width: 100%;
}
.{}
.{}
.{}













